@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
// * {
//   border: 1px solid red;
// }
body {
  width: 100% !important;
  overflow-x: hidden !important;
}
.border-test {
  border: 1px solid red;
}
.custom-width-30 {
  width: 30%;
}
.custom-width-45 {
  width: 45%;
}
.custom-width-55 {
  width: 55%;
}
.custom-width-66 {
  width: 66%;
}
.custom-width-88 {
  width: 88%;
}
.custom-height-88 {
  height: 88%;
}
.button-filled {
  border-radius: 5px;
  background: #fff;
  width: 162px;
  height: 51px;
  flex-shrink: 0;
  color: #151515;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media (max-width: 867px) {
    width: auto;
    height: auto;
    padding: 7px 18px;
    font-size: 20px;
  }
}
.button-yellow-filled {
  width: 196px;
  height: 56px;
  flex-shrink: 0;
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
  background: #f7d432;
  @media (max-width: 867px) {
    width: auto;
    height: auto;
    font-size: 20px;
    padding: 7px 18px;
  }
}
